body {
	font-family: PT Sans,sans-serif;
	font-size: 14px;
	background-color: #f2f8f9;
}

.draw-btn-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #e8e8e8;
	padding: 10px 16px;
	text-align: right;
	left: 0;
	background: #fff;
	border-radius: 0 0 4px 4px;
}

.ant-form {
	width: 100%;
}

.ant-table-pagination.ant-pagination {
	display: none;
}

.highcharts-credits {
	display: none;
}

.draw-tab {
	width: 100% !important;
}

.view-online {
	display: inline-flex;
	margin-bottom: -10px;
	padding: 0px;
	position: relative;
	float: right;
	z-index: 3;
	margin-bottom: -30px;
	
	&:last-child {
		padding-right: 0;
		border-right: none;
	}

	span {
		margin-right: 8px;
		margin-left: 8px;
	}
	
	.wrapper {
		text-align: left;
		margin-top: 6px;

		#checkable1, #checkable2, #checkable3 {
			display: none;
			
			&:checked {
				& + label {
					background: #1DA57A;

					&:after {
						transform: translate(100%, 0);
					}
				}
			}
		}

		label[for='checkable1'] {
			display: block;
			width: 32px;
			height: 10px;
			border-radius: 75px;
			position: relative;
			transition: 0.15s ease-in-out;
			background: #1DA57A;
			margin: 0 auto;
			cursor: pointer;
		}

		label[for='checkable1']:after {
			content: "";
			display: block;
			position: absolute;
			width: 18px;
			height: 18px;
			top: -4px;
			left: -1px;
			border: 1px solid #1DA57A;
			border-radius: 75px;
			background: white;
			transition: 0.15s ease-in-out;
		}
	}
}

.ant-drawer-title {
	color: #063261;
	font-weight: bold;
}

#archive {

	.success {
		color: #52c41a;
	}

	.warning {
		color: #faad14;
	}

	.danger {
		color: #f5222d;
	}

	.white {
		background-color: #fff;
	}

	.mobile-hide {
		display: block;
	}

	.mobile-show {
		display: none;
	}

	.mar-top-72 {
		margin-top: 72px;
	}

	.ant-layout {
		background-color: #f2f8f9;
	}

	.contains {
		margin: 0px 30px;
		margin-left: 230px;
		padding: 20px;
		background-color: #fff;
	}

	.contain {
		margin: 30px 30px;
		margin-left: 230px;
		text-align: center;
	}

	.rows {
		margin-top: 20px;
	}

	.cols {
		text-align: center;
		margin: 5px 11px;
		margin-bottom: 0;
	}

	.label {
		text-align: left;
		font-weight: bold;
	}

	.option {
		text-align: left;
	}

	.ant-checkbox-wrapper, .ant-checkbox-group-item {
		display: block;
		padding: 5px 0;
	}

	.selectall {
		color: #000;
	}

	.no-lebel {
		.ant-form-item-label {
			padding-bottom: 16px !important;
		}
	}

	.button {
		margin: 20px;
	}

	.separator {
		padding: 0 6px;
	}

	.head {
		color: #063261;
		width: 100%;
		font-size: 16px;
		margin-bottom: 20px;
		font-weight: bold;
	}

	.ant-select-selection--multiple .ant-select-selection__rendered {
		margin-left: 10px;
	}

	.select-icon:before {
		content: '';
			position: absolute;
			display: inline-table;
			width: 18px;
			height: 18px;
			float: left;
			background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='#666' d='M15.5 14h-.8l-.3-.3c1-1 1.6-2.6 1.6-4.2C16 6 13 3 9.5 3S3 6 3 9.5 6 16 9.5 16c1.6 0 3-.6 4.2-1.6l.3.3v.8l5 5 1.5-1.5-5-5zm-6 0C7 14 5 12 5 9.5S7 5 9.5 5 14 7 14 9.5 12 14 9.5 14z'></path></svg>") no-repeat 100%;
			top: 8px;
			left: 8px;
			z-index: 9;
	}

	.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content > .ant-tabs-tabpane {
		font-size: 18px;
		font-weight: bold;
		text-align: center;
	}

	.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
		color: #063261;
	}

	.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
		color: #1DA57A;
	}

	.ant-tabs-nav .ant-tabs-tab:hover {
		color: #1DA57A !important;
	}

	.butn-contain {
		margin-top: 20px !important;
	}
}

.archive-loader {
	.list-load {
		.ant-skeleton-title {
			width: 90% !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.hed-load {
		.ant-skeleton-title {
			width: 200px !important;
			height: 10px !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}
}

@media screen and (max-width: 1024px) {

	.mobile-hide {
		display: none;
	}

	.mobile-show {
		display: block;
	}
}

@media (min-width: 1441px) {
	.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
		width: 60% !important;
	}

	body {
		font-size: 16px !important;
	}

	.ant-form label {
		font-size: 16px !important;
	}

	.ant-card {
		font-size: 16px !important;
	}

	#archive {
		.button {
			font-size: 16px;
		}
	}
}

@media (max-width: 768px) {
	.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
		width: 100% !important;
	}

	.archive-report {
		.ant-tabs-bar {
			margin: 0 0 50px 0 !important;
		}

		.view-online {
			margin-top: 60px !important;
			margin-bottom: -80px !important;
			float: left !important;
		}

		.ant-table-content {
			overflow-x: scroll;
		}

		.ant-table-scroll {
			overflow: initial !important;
			overflow-x: unset !important;
		}

		.ant-table-content::-webkit-scrollbar {
			height: 5px;
		}

		.ant-table-content::-webkit-scrollbar-track {
			background: transparent;
		}

		.ant-table-content::-webkit-scrollbar-thumb {
			background: #fbfbfb;
		}

		.ant-table-body, .ant-table-header {
			width: 160%;
		}
	}
	
	#archive {
		.contain {
			margin: 20px auto;
			margin-left: 0;
			text-align: center;
			width: 100%;
		}
	}
}


@media (max-width: 600px) {
	.archive-report {
		.ant-table-body, .ant-table-header {
			width: 140%;
		}
	}

	#archive {
		.wid-100 {
			width: 100% !important;
		}

		.ant-col-4, .ant-col-12 {
			width: 80% !important;

			.ant-select {
				width: 100% !important;
			}
		}

	}
}

@media (max-width: 425px) {
	.archive-report {
		.ant-table-body, .ant-table-header {
			width: 210%;
		}
	}

	#archive {
		.ant-col-4, .ant-col-12 {
			width: 100% !important;
		}

		.date-pick {
			.ant-form-item-control-wrapper {
				text-align: center !important;
			}
		}

		.ant-calendar-picker {
			width: 100%;
			margin: 10px 0;
		}

		.parameter {
			.ant-col-8 {
				width: 80% !important;
			}
		}

		.date-picker {
			.width-45 {
				width: 45.5% !important;
			}

			.center {
				text-align: center;
			}
		}
	}
}

@media (max-width: 360px) {
	.archive-report {
		.ant-table-body, .ant-table-header {
			width: 250%;
		}
	}
}