body {
	font-family: PT Sans,sans-serif;
	font-size: 14px;
	background-color: #f2f8f9;
}

.draw-btn-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #e8e8e8;
	padding: 10px 16px;
	text-align: right;
	left: 0;
	background: #fff;
	border-radius: 0 0 4px 4px;
}

.ant-form {
	width: 100%;
}

.ant-table-pagination.ant-pagination {
	display: none;
}

#compare {

	.success {
		color: #45c27e;
	}

	.warning {
		color: #faad14;
	}

	.danger {
		color: #f5222d;
	}

	.success-border {
		border: 1px solid #45c27e !important;
	}

	.warning-border {
		border: 1px solid #faad14 !important;
	}

	.danger-border {
		border: 1px solid #f5222d !important;
	}

	.white {
		background-color: #fff;
	}

	.center {
		text-align: center;
	}

	.no-data-txt {
		padding-top: 50px;
	}

	.mobile-hide {
		display: block;
	}

	.mobile-show {
		display: none;
	}

	.mar-top-72 {
		margin-top: 72px;
	}

	.pad-left {
		padding-left: 20px !important;
	}

	.mar-top-50 {
		margin-top: 50px !important;
	}

	.ant-layout {
		background-color: #f2f8f9;
	}

	.contains {
		margin: 0px 30px;
		margin-left: 230px;
		padding: 25px;
		background-color: #fff;
		position: relative;
	}

	.contain {
		margin: 30px 30px;
		margin-left: 230px;
		text-align: center;
	}

	.header-txt {
		color: #063261;
		width: 50%;
		display: inline-block;
		font-size: 16px;
		margin-bottom: 20px;
		font-weight: bold;
	}

	.dot {
		display: inline-block;
		border: 2px solid #45c27e;
		height: 11px;
		width: 11px;
		margin-left: -7px;
		margin-right: 10px;
		border-radius: 60px;
		margin-bottom: -1px;
	}

	.compare-container {
		.header-txt {
			display: block !important;
		}
	}

	.card-container::-webkit-scrollbar {
		height: 5px;
	}
	.card-container::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: transparent;
	}

	.contains:hover {
		.card-container::-webkit-scrollbar-thumb {
			background-color: #dddddd;
		}
	}

	.ant-card-head-title {
		font-weight: normal;
	}

	.graphs::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: transparent;
	}

	.graphs::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: transparent;
	}

	.graphs:hover {
		&::-webkit-scrollbar-thumb {
			background-color: #dddddd;
		}
	}

	.graphs::-webkit-scrollbar-track {
		border-radius: 10px;
		background-color: transparent;
	}

	.compare-device {
		.head {
			margin-left: 7px;
		}
	}

	.ant-form-item-label {
		font-weight: normal;
	}

	.rows {
		margin-top: 20px;
	}

	.cols {
		text-align: center;
		margin: 5px 11px;
		margin-bottom: 0;
	}

	.btn-contain {
		float: right;
		text-align: right;
		width: 20%;
		display: inline-block;
	}

	.close-btn {
		font-size: 18px;
		cursor: pointer;
		transition: all 0.5s;
		color: rgba(0, 0, 0, 0.45);
	}

	.close-btn:hover {
		color: #f5222d;
	}

	.card-container {
		overflow: hidden;
		overflow-x: auto;
		padding-bottom: 15px;
	}

	.card-contain {
		display: inline-flex;
		overflow-x: auto;
		width: auto;
		white-space: nowrap;
	}

	.card {
		width: 190px;
		margin: 0 10px;
		border-color: #ddd;
		background: #f9f9f9;

		&:first-child {
			margin-left: 0;
		}
	}

	.ant-card {
		color: rgba(0, 0, 0, 0.8) !important;
	}

	.ant-card-head {
		padding: 0 14px !important;
	}

	.aqi {
		font-size: 16px;
	}

	.city-time {
		padding-bottom: 10px;
		color: rgba(0, 0, 0, 0.48);
		font-size: 12px;
	}

	.time {
		padding-bottom: 25px;
		padding-left: 10px;
		font-size: 12px;
		color: rgba(0, 0, 0, 0.48);
	}

	.clock-img {
		width: 13px;
		margin-right: 10px;
		margin-bottom: 3px;
	}

	.aqi-value-txt {
		font-size: 22px;
		padding-left: 15px;
		padding-right: 15px;
	}

	.value-txt {
		font-size: 22px;
	}

	.compare-contain {
		display: inline-flex;
		overflow-x: auto;
		width: auto;
		white-space: nowrap;

		.card {
			width: 320px !important;
		}
	}

	.aura-icon {
		width: 140%;
	}

	.hr24-graph {
		padding: 20px 0;
	}

	.value {
		display: inline-block;
		padding-left: 10px;
		text-align: center;

		div:last-child {
			font-size: 12px;
		}
	}

	.graph-value {
		font-size: 16px;
	}

	.highcharts-credits {
		display: none;
	}

	.highcharts-container {
		text-align: center;
		margin: 0 auto;
	}

	.aqi-scale {
		width: 80%;
		margin: 10px 24px;
		padding-bottom: 30px;
	}

	.graph-name {
		padding: 0 20px;
	}

	.pollutant-name {
		font-size: 16px;
	}

	.graph-aqi {
		margin-left: 30px;
	}

	.graphs {
		overflow: hidden;
		overflow-y: auto;
		max-height: 340px;
		margin-top: 20px;

		.graph-value {
			font-size: 16px !important;
		}
	}

	.head {
		color: #063261;
		border-top: 1px solid #e8e8e8;
		border-bottom: 1px solid #e8e8e8;
		padding: 10px 0;
		text-align: center;
	}

	.graph-aqi-value {
		font-size: 20px;
		padding-right: 10px;
		font-weight: bold;
	}

	.ant-select-selection__rendered {
		margin-left: 35px;
	}

	.ant-form-vertical .ant-form-item-control {
		text-align: left;
	}

	.ant-select {
		width: 100%;
	}

	.select-menu {
		width: 30%;
		display: inline-block;
		padding-bottom: 20px;
	}

	.filter-icon:before {
		content: '';
		position: absolute;
		display: inline-table;
		width: 12px;
		height: 16px;
		float: left;
		background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44'><path d='M43.7.3A1 1 0 0 0 43 0H1.1a1 1 0 0 0-.8.3L.1.6 0 1c0 .3.1.6.3.7L15 22.3v21.1c.2.4.6.6 1 .6.3 0 .6-.1.7-.3l12-12c.3-.2.3-.5.3-.8v-8.6L43.7 1.7c.4-.4.4-1 0-1.4zm-16.4 21a1 1 0 0 0-.3.7v8.6l-10 10V22c0-.2 0-.5-.3-.7L3 2h38.2L27.3 21.3z'></path></svg>") no-repeat 100%;
		top: 8px;
		left: 8px;
		z-index: 9;
	}

	.ant-select-selection__placeholder, .ant-select-search__field__placeholder {
		font-weight: normal;
	}

	.ant-select-selection--multiple .ant-select-selection__rendered {
		margin-left: 25px;
	}

	.select-icon:before {
		content: '';
		position: absolute;
		display: inline-table;
		width: 18px;
		height: 18px;
		float: left;
		background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='#666' d='M15.5 14h-.8l-.3-.3c1-1 1.6-2.6 1.6-4.2C16 6 13 3 9.5 3S3 6 3 9.5 6 16 9.5 16c1.6 0 3-.6 4.2-1.6l.3.3v.8l5 5 1.5-1.5-5-5zm-6 0C7 14 5 12 5 9.5S7 5 9.5 5 14 7 14 9.5 12 14 9.5 14z'></path></svg>") no-repeat 100%;
		top: 8px;
		left: 8px;
		z-index: 9;
	}

	.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content > .ant-tabs-tabpane {
		font-size: 18px;
		font-weight: bold;
		text-align: center;
	}

	.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
		color: #063261;
	}

	.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
		color: #1DA57A;
	}

	.ant-tabs-nav .ant-tabs-tab:hover {
		color: #1DA57A !important;
	}

	.ant-card-body {
		padding: 15px !important;
    	padding-top: 10px;
	}

}

@media screen and (min-width: 1441px) {
	body {
		font-size: 16px !important;
	}

	.ant-btn {
		font-size: 16px !important;
	}
}

@media screen and (max-width: 1024px) {

	.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
		width: 70% !important;
	}

	.mobile-hide {
		display: none;
	}

	.mobile-show {
		display: block;
	}
}

.compare-loader {
	.list-load {
		.ant-skeleton-title {
			width: 90% !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.select-load {
		.ant-skeleton-title {
			width: 100% !important;
			height: 25px !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.hed-load {
		.ant-skeleton-title {
			width: 200px !important;
			height: 10px !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.avtar-load {
		.ant-skeleton-title {
			margin-bottom: 0.3em !important;
			margin-top: 12px !important;
			height: 10px !important;
		}

		.ant-skeleton-paragraph {
			margin-top: 0 !important;
			padding: 0 !important;

			li {
				height: 10px !important;
			}

			li + li {
				margin-top: 8px !important;
			}
		}
	}

	.min-height {
		min-height: 250px;
		text-align: center;

		.ant-spin {
			position: absolute;
			top: 45%;
		}
	}
}



@media (max-width: 768px) {
	.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
		width: 100% !important;
	}
	
	#compare {
		.contain {
			margin: 20px auto;
			margin-left: 0;
			text-align: center;
			width: 100%;
		}

		.ant-table-content {
			overflow-x: scroll;
		}

		.ant-table-content::-webkit-scrollbar {
			height: 5px;
		}

		.ant-table-content::-webkit-scrollbar-track {
			background: transparent;
		}

		.ant-table-content::-webkit-scrollbar-thumb {
			background: #fbfbfb;
		}

		.ant-table-body {
			width: 160%;
		}
	}
}


@media (max-width: 600px) {
	#compare {
		.ant-table-body {
			width: 180%;
		}

		.wid-100 {
			width: 100% !important;
		}

		.select-menu {
			width: 50%;
		}
	}
}

@media (max-width: 425px) {
	#compare {
		.ant-table-body {
			width: 210%;
		}

		.table-filter, .table-search {
			width: 48%
		}
	}
}

@media (max-width: 360px) {
	#compare {
		.ant-table-body {
			width: 250%;
		}
	}
}