body {
	font-family: PT Sans,sans-serif;
	font-size: 14px;
	background-color: #f2f8f9;
}

.draw-btn-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: 1px solid #e8e8e8;
	padding: 10px 16px;
	text-align: right;
	left: 0;
	background: #fff;
	border-radius: 0 0 4px 4px;
}

.ant-form {
	width: 100%;
}

.ant-table-pagination.ant-pagination {
	display: none;
}

#device {
	.primary {
		color: #f00;
	}

	.success {
		color: #45c27e;
	}

	.warning {
		color: #faad14;
	}

	.danger {
		color: #f5222d;
	}

	.white {
		background-color: #fff;
	}

	.mobile-hide {
		display: block;
	}

	.mobile-show {
		display: none;
	}

	.mar-top-72 {
		margin-top: 72px;
	}

	.back-grey {
		background-color: #fafafa;
	}

	.ant-layout {
		background-color: #f2f8f9;
	}

	.contains {
		margin: 0px 30px;
		margin-left: 230px;
		padding: 25px;
		padding-bottom: 40px;
		background-color: #fff;
		position: relative;
	}

	.contain {
		margin: 30px 30px;
		margin-left: 230px;
		text-align: center;
	}

	.head {
		color: #063261;
		width: 100%;
		font-size: 16px;
		margin-bottom: 20px;
		font-weight: bold;
	}

	.device-device {
		.head {
			margin-left: 7px;
		}
	}

	.ant-form-item-label {
		font-weight: normal;
	}

	.dot1 {
		display: inline-block;
		border: 2px solid #45c27e;
		height: 12px;
		width: 12px;
		margin-left: -7px;
		margin-right: 10px;
		border-radius: 60px;
		margin-bottom: 0px;
	}

	.rows {
		margin-top: 20px;
	}

	.cols {
		text-align: center;
		margin: 5px 11px;
		margin-bottom: 0;
	}

	.label {
		text-align: left;
		font-weight: bold;
	}

	.option {
		text-align: left;
	}

	.device-details {
		margin-bottom: 50px;
	}

	.pie-text {
		text-align: center;
	}

	.highcharts-container {
		margin: 0 auto;
	}

	.online-device {
		font-size: 18px;
	}

	.activity-details {
		background: #f7f7f7;
	}

	.activity-container {
		overflow-y: scroll;
		max-height: 290px;
	}

	.activities {
		padding: 5px 0;
		border-bottom: 1px solid #e8e8e8;

		&:last-child {
			border-bottom: none;
		}
	}

	.table-filter {
		width: 30%;
		margin-right: 10px;
		display: inline-block;
		float: left;

		.ant-select-search__field__placeholder {
			left: 25px;
		}
	}

	.ant-form-vertical .ant-form-item-control {
		text-align: left;
	}

	.ant-select {
		width: 100%;
	}

	.table-search {
		width: 40%;
		display: inline-block;
		padding-bottom: 20px;
	}

	.filter-icon:before {
		content: '';
		position: absolute;
		display: inline-table;
		width: 12px;
		height: 16px;
		float: left;
		background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44'><path d='M43.7.3A1 1 0 0 0 43 0H1.1a1 1 0 0 0-.8.3L.1.6 0 1c0 .3.1.6.3.7L15 22.3v21.1c.2.4.6.6 1 .6.3 0 .6-.1.7-.3l12-12c.3-.2.3-.5.3-.8v-8.6L43.7 1.7c.4-.4.4-1 0-1.4zm-16.4 21a1 1 0 0 0-.3.7v8.6l-10 10V22c0-.2 0-.5-.3-.7L3 2h38.2L27.3 21.3z'></path></svg>") no-repeat 100%;
		top: 8px;
		left: 8px;
		z-index: 9;
	}

	.ant-select-selection__placeholder, .ant-select-search__field__placeholder {
		font-weight: normal;
	}

	.ant-select-selection--multiple .ant-select-selection__rendered {
		margin-left: 25px;
	}

	.select-icon:before {
		content: '';
		position: absolute;
		display: inline-table;
		width: 18px;
		height: 18px;
		float: left;
		background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='#666' d='M15.5 14h-.8l-.3-.3c1-1 1.6-2.6 1.6-4.2C16 6 13 3 9.5 3S3 6 3 9.5 6 16 9.5 16c1.6 0 3-.6 4.2-1.6l.3.3v.8l5 5 1.5-1.5-5-5zm-6 0C7 14 5 12 5 9.5S7 5 9.5 5 14 7 14 9.5 12 14 9.5 14z'></path></svg>") no-repeat 100%;
		top: 8px;
		left: 8px;
		z-index: 9;
	}

	.ant-tabs:not(.ant-tabs-vertical) > .ant-tabs-content > .ant-tabs-tabpane {
		font-size: 18px;
		font-weight: bold;
		text-align: center;
	}

	.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
		color: #063261;
	}

	.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
		color: #1DA57A;
	}

	.ant-tabs-nav .ant-tabs-tab:hover {
		color: #1DA57A !important;
	}

	.analytics-image, .device-image, .sync-img {
		cursor: pointer;
	}

	.analytics-image path, .device-image path {
		transition: 0.3s;
	}

	.analytics-image:hover path {
		fill: #1da57a;
	}

	.device-image:hover path {
		stroke: #1da57a;
	}

	.butn-contain {
		width: 100%;
		border-top: 1px solid #e8e8e8;
		padding: 10px 0px;
		text-align: right;
		border-radius: 0 0 4px 4px;
	}

	.dot {
		display: inline-block;
		border: 1px solid #45c27e;
		height: 9px;
		width: 9px;
		margin-left: -7px;
		margin-right: 3px;
		border-radius: 60px;
		margin-bottom: 1px;
	}

	.date-time {
		display: inline-block;
	}

	.show-container {
		padding-bottom: 10px;
		font-size: 14px;
		color: #063261;
	}

	.show-txt {
		padding: 0 10px;
	}

	.form-txt {
		padding-right: 5px;
	}

	.border-top {
		border-top: 1px solid #d9d9d9;
		padding-top: 10px;
	}

	.btn-contain {
		display: block;
		padding: 10px 0;
		padding-bottom: 20px;
		text-align: left;
	}

	.calibration-form {
		.ant-form-item-label {
			font-weight: normal;
		}
	}

	.ant-row .ant-form-item {
		padding-top: 10px;
	}

	.right {
		float: right;

		.ant-form-vertical .ant-form-item {
			margin-bottom: 20px;
			padding-bottom: 0px;
		}

		.ant-form-item-control {
			text-align: right;

			.anticon-close {
				font-size: 20px;
				cursor: pointer;
				transition: 0.5s;
			}

			.anticon-close:hover {
				color: #1da57a;
			}
		}
	}

	.device-device {
		position: relative;
	}

	.back-btn {
		position: absolute;
		display: inline-block;
		right: 26px;
		z-index: 3;
	}
}

.device-loader {
	.list-load {
		.ant-skeleton-title {
			width: 90% !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.select-load {
		.ant-skeleton-title {
			width: 100% !important;
			height: 25px !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.hed-load {
		.ant-skeleton-title {
			width: 200px !important;
			height: 10px !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.min-height {
		min-height: 250px;
		text-align: center;

		.ant-spin {
			position: absolute;
			top: 45%;
		}
	}
}

@media screen and (min-width: 1441px) {
	body {
		font-size: 16px !important;
	}

	#device {
		.ant-btn {
			font-size: 16px !important;
		}
	}
}

@media screen and (max-width: 1024px) {
	.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
		width: 70% !important;
	}

	#device {
		.mobile-hide {
			display: none;
		}

		.mobile-show {
			display: block;
		}

		.width-100 {
			width: 100%;
		}

		.activity-details {
			width: 60%;
			margin-top: 30px;
		}

		.ant-table-content {
			overflow-x: scroll;
		}

		.ant-table-scroll {
			overflow: initial !important;
			overflow-x: unset !important;
		}

		.ant-table-content::-webkit-scrollbar {
			height: 5px;
		}

		.ant-table-content::-webkit-scrollbar-track {
			background: transparent;
		}

		.ant-table-content::-webkit-scrollbar-thumb {
			background: #fbfbfb;
		}

		.ant-table-body, .ant-table-header {
			width: 160%;
		}
	}
}

@media (max-width: 768px) {
	.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
		width: 100% !important;
	}
	
	#device {
		.contain {
			margin: 20px auto;
			margin-left: 0;
			text-align: center;
			width: 100%;
		}

		.activity-details {
			width: 60%;
		}

		.ant-table-body, .ant-table-header {
			width: 160%;
		}
	}
}


@media (max-width: 600px) {
	#device {
		.ant-table-body, .ant-table-header {
			width: 210%;
		}

		.activity-details {
			width: 70%;
		}

		.contains {
			padding-bottom: 0;
			margin-bottom: 30px;
		}

		.wid-100 {
			width: 100% !important;
		}

		.right {
			display: none;
		}

		.calibration-form {
			.calib {
				border-bottom: 1px solid #d9d9d9;
				padding: 10px 0;

				&:last-child {
					border: none;
				}
			}

			.ant-col-5 {
				width: 52% !important;
			}

			.ant-col-3 {
				width: 50% !important;
			}
		}
	}
}

@media (max-width: 425px) {
	#device {
		.ant-table-body, .ant-table-header {
			width: 400%;
		}

		.activity-details {
			width: 100%;
		}

		.table-filter, .table-search {
			width: 100%
		}

		.table-filter {
			margin-bottom: 20px;
		}

		.back-btn {
			position: relative;
			margin-bottom: 20px;
		}
	}
}

@media (max-width: 360px) {
	#device {
		.ant-table-body, .ant-table-header {
			width: 420%;
		}
	}
}