body {
	font-family: PT Sans,sans-serif;
	font-size: 14px;
	background-color: #f2f8f9;
}

#notification {
	.primary {
		color: #f00;
	}

	.success {
		color: #52c41a;
	}

	.warning {
		color: #faad14;
	}

	.danger {
		color: #f5222d;
	}

	.white {
		background-color: #fff;
	}

	.mobile-hide {
		display: block;
	}

	.mobile-show {
		display: none;
	}

	.mar-top-72 {
		margin-top: 72px;
	}

	.ant-layout {
		background-color: #f2f8f9;
	}

	.contains {
		margin: 0px 30px;
		margin-left: 230px;
		padding: 25px;
		padding-bottom: 40px;
		background-color: #fff;
		position: relative;
	}

	.contain {
		margin: 30px 30px;
		margin-left: 230px;
		text-align: center;
	}

	.head {
		color: #063261;
		width: 100%;
		font-size: 16px;
		margin-bottom: 20px;
		font-weight: bold;
	}

	.table-container {
		.ant-table-pagination.ant-pagination {
			display: none;
		}
	}

	.notification-device {
		.head {
			margin-left: 7px;
		}
	}

	.rows {
		margin-top: 20px;
	}

	.cols {
		text-align: center;
		margin: 5px 11px;
		margin-bottom: 0;
	}

	.table-filter {
		width: 30%;
		margin-right: 10px;
		display: inline-block;
		float: left;

		.ant-select-search__field__placeholder {
			left: 25px;
		}
	}

	.ant-form-vertical .ant-form-item-control {
		text-align: left;
	}

	.ant-select {
		width: 100%;
	}

	.table-search {
		width: 40%;
		display: inline-block;
		padding-bottom: 20px;
	}

	.filter-icon:before {
		content: '';
		position: absolute;
		display: inline-table;
		width: 12px;
		height: 16px;
		float: left;
		background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 44 44'><path d='M43.7.3A1 1 0 0 0 43 0H1.1a1 1 0 0 0-.8.3L.1.6 0 1c0 .3.1.6.3.7L15 22.3v21.1c.2.4.6.6 1 .6.3 0 .6-.1.7-.3l12-12c.3-.2.3-.5.3-.8v-8.6L43.7 1.7c.4-.4.4-1 0-1.4zm-16.4 21a1 1 0 0 0-.3.7v8.6l-10 10V22c0-.2 0-.5-.3-.7L3 2h38.2L27.3 21.3z'></path></svg>") no-repeat 100%;
		top: 8px;
		left: 8px;
		z-index: 9;
	}

	.ant-select-selection__placeholder, .ant-select-search__field__placeholder {
		font-weight: normal;
	}

	.ant-select-selection--multiple .ant-select-selection__rendered {
		margin-left: 25px;
	}

	.select-icon:before {
		content: '';
		position: absolute;
		display: inline-table;
		width: 18px;
		height: 18px;
		float: left;
		background: transparent url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path fill='#666' d='M15.5 14h-.8l-.3-.3c1-1 1.6-2.6 1.6-4.2C16 6 13 3 9.5 3S3 6 3 9.5 6 16 9.5 16c1.6 0 3-.6 4.2-1.6l.3.3v.8l5 5 1.5-1.5-5-5zm-6 0C7 14 5 12 5 9.5S7 5 9.5 5 14 7 14 9.5 12 14 9.5 14z'></path></svg>") no-repeat 100%;
		top: 8px;
		left: 8px;
		z-index: 9;
	}
}

.notification-loader {
	.list-load {
		.ant-skeleton-title {
			width: 90% !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.select-load {
		.ant-skeleton-title {
			width: 100% !important;
			height: 25px !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.hed-load {
		.ant-skeleton-title {
			width: 200px !important;
			height: 10px !important;
		}

		.ant-skeleton-paragraph {
			display: none !important;
		}
	}

	.min-height {
		min-height: 250px;
		text-align: center;

		.ant-spin {
			position: absolute;
			top: 45%;
		}
	}
}

@media screen and (max-width: 1024px) {
	.mobile-hide {
		display: none;
	}

	.mobile-show {
		display: block;
	}
}



@media (max-width: 768px) {
	
	#notification {
		.contain {
			margin: 20px auto;
			margin-left: 0;
			text-align: center;
			width: 100%;
		}

		.ant-table-content {
			overflow-x: scroll;
		}

		.ant-table-content::-webkit-scrollbar {
			height: 5px;
		}

		.ant-table-content::-webkit-scrollbar-track {
			background: transparent;
		}

		.ant-table-content::-webkit-scrollbar-thumb {
			background: #fbfbfb;
		}

		.ant-table-body {
			width: 160%;
		}
	}
}


@media (max-width: 600px) {
	#notification {
		.ant-table-body {
			width: 180%;
		}

		.wid-100 {
			width: 100% !important;
		}
	}
}

@media (max-width: 425px) {
	#notification {
		.ant-table-body {
			width: 210%;
		}

		.table-filter, .table-search {
			width: 48%
		}
	}
}

@media (max-width: 360px) {
	#notification {
		.ant-table-body {
			width: 250%;
		}
	}
}